.MedicalExpense{
  display: flex;
  flex-direction: column;
}
.MedicalExpense_payment_btnArea{
  width: 100%;
  height: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.MedicalExpense_payment_btnArea_openBtn{
  width: 60px;
  height: 100%;
  background-color: #26325c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
.MedicalExpense_payment_btnArea_openBtn_triangleDown{
  margin-top: 2px;
  width: 0px;
  height: 0px;
  /* background-color: white; */
  border-top: 8px solid white;
  border-bottom: 0px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid  transparent;
}
.MedicalExpense_payment_btnArea_openBtn_triangleUp{
  width: 0px;
  height: 0px;
  /* background-color: white; */
  border-top: 2px solid transparent;
  border-bottom:8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid  transparent;
}
.MedicalExpense_header{
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.MedicalExpense_header_left{
  flex-grow: 1;
  font-size: small;
  display: flex;
  flex-direction: row;
}
.MedicalExpense_header_right{
  font-size: 4px;
  display: flex;
  flex-direction: row;
}
.MedicalExpense_header_right_title{
  margin: 2px;
}
.MedicalExpense_header_right_no{
  margin: 2px;
}
.MedicalExpense_content{
  width: 300px;
  height: 700px;
  overflow-y: scroll;
  /* transition: top 0.5s;
  transition: bottom 0.5s; */
  transition: all 0.5s;
}
.MedicalExpense_content_Open{
  width: 300px;
  height: 470px;
  overflow-y: scroll;
  /* transition: top 0.5s;
  transition: bottom 0.5s; */
  transition: all 0.5s;
}
.MedicalExpense_content > table > tbody > tr > th {
  font-size: 6px!important;
  padding-top: 3px!important;
  padding-bottom: 3px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.MedicalExpense_content_Open > table > tbody > tr > th {
  font-size: 6px!important;
  padding-top: 3px!important;
  padding-bottom: 3px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.MedicalExpense_content > table > tbody > tr > td {
  font-size: 6px!important;
  padding-top: 3px!important;
  padding-bottom: 3px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.MedicalExpense_content_Open > table > tbody > tr > td {
  font-size: 6px!important;
  padding-top: 3px!important;
  padding-bottom: 3px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.MedicalExpense_payment{
  width: 100%;
  height: 148px;
  background-color: #26325c;
  display: flex;
  flex-direction: column;
  z-index: 10;
  transition: all 0.5s;
  /* transition: top 0.5s;
  transition: bottom 0.5s; */
  /* align-items: center; */
}
.MedicalExpense_payment_Open{
  width: 100%;
  height: 378px;
  background-color: #26325c;
  display: flex;
  flex-direction: column;
  z-index: 10;
  transition: all 0.5s;
  /* transition: top 0.5s;
  transition: bottom 0.5s; */
}
.MedicalExpense_payment_totalprice{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
  height: 44px;
  background-color: #16181f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.MedicalExpense_payment_totalprice_left{
  margin: 5px;
  display: flex;
  flex-direction: column;
  color: white;
}
.MedicalExpense_payment_totalprice_left_title{
  font-size: 8px;
}
.MedicalExpense_payment_totalprice_left_calc{
  font-size: 3px;
  opacity: 0.8;
}
.MedicalExpense_payment_totalprice_right{
  color: #1fa6f5;
  margin: 5px;
  line-height: 2;
}
.MedicalExpense_payment_btns{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.payCancelBtn{
  color: white;
  background-color: transparent;
  border: white solid 1px;
  border-radius: 10%;
  padding: 4px;
}

.MedicalExpense_payment_btns_pays{
  display: flex;
  flex-direction: row;
}
.payBtn{
  color: white;
  background-color: #1f2df5;
  border: #1f2df5 solid 1px;
  border-radius: 10%;
  padding: 4px;
  margin-right: 10px;
}
.receiptBtn{
  color: white;
  background-color: #1fa6f5;
  border: #1fa6f5 solid 1px;
  border-radius: 10%;
  padding: 4px;
}
.MedicalExpense_payment_extends{
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  font-size: 4px;
  color: lightgray;
}
.MedicalExpense_payment_extends_item{
  margin: 3px;
  cursor: pointer;
}
.MedicalExpense_payment_extend_open{
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
  height: 230px;
  background-color: #3a2c3a;
  display: flex;
  flex-direction: column;
}
.MedicalExpense_payment_extend_close{
  display: none;
}
.MedicalExpense_payment_extend_1{
  margin-left: 10px;
  margin-right: 10px;
}
.MedicalExpense_payment_extend_2{
  margin-left: 10px;
  margin-right: 10px;
}
.MedicalExpense_payment_extend_3{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: space-between;
}
.MedicalExpense_payment_itemGroup{
  display: flex;
  flex-direction: row;
}
.MedicalExpense_payment_itemGroup_item{
  margin: 5px;
}
.MedicalExpense_payment_itemGroup_item_label{
  color: white;
  font-size: 4px;
}
.MedicalExpense_payment_itemGroup_item_textForm{
  color: white;
  font-size: 4px;
}
.numbers_group{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.numbers_title{
  /* font-size: 0.8em!important; */
}
.numbers{
  /* font-size: 0.1em!important; */
  opacity: 0.6;
  /* text-align: end; */
}
.prices{
  width: 120px;
  text-align: end;
}