.Register{
  display: flex;
  flex-direction: column;
  margin: 5;
  height: calc(100%);
}
.Register_header {
  border-bottom: lightgray 1px solid;
  padding: 5px;
  margin: 5px 5px 1px 5px;
  display: flex;
  flex-direction: row;
}
.Register_header_icon{

}
.Register_header_title{
  font-size: 14px;
}

.Register_contents{
  display: flex;
  flex-direction: column;
}
.Register_contents_line{
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  height: 50px;
  margin: 10px;
  justify-content: space-between;
}
.Register_contents_line_item{
  display: flex;
  flex-direction: column;
  width: 120px;
}
.Register_contents_line_item_label{
  font-size: 12px;
}
.Register_contents_line_item_selectbox{
  font-size: 12px;
}
.Register_contents_line_memo{
  width: calc(100% - 20px);
}
.Register_footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 10px 10px 10px;
}
.Register_footer_check{

}
.Register_footer_initBtn{
  padding-left: 5px;
}
.Register_footer_createBtn{
  padding-left: 5px;
}

.makeNewRegister{
  width: calc(100%);
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  opacity: 0.7;
  /* margin: 0px 5px 5px 5px; */
}
.makeNewRegisterBtn{
  /* width: 150px;
  height: 80px;
  border: ; */
}